
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo{
    display: flex;
    block-size: 50px;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 20px;
    
}
.navbar ,ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    align-items: center;
    font-size: 20px;
    text-transform: capitalize;
    gap:20px;   
}
a{
     text-decoration: none;
     color: black;
}
.profile{
position: relative;
height: 90px;

}
#button{
    position: absolute;
    top:35%;
    left: 70%;
    transform: translate3d(-50%, -50%);
padding: 15px 10px 10px 10px;
border-radius: 10px;
border: none;
background-color: skyblue;
color: aqua;
cursor: pointer;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ad{
    text-align: start;
    left: 30%;
    margin-top: 100px;
    margin-left: 250px;
    
}
p{
    color:rgb(28, 27, 27);
    
}
.laundy-img{
    height: 170px;
    margin-top: 200px;
}
.laundry-btn{
    color: white;
    background-color: rgb(22, 173, 223);
    padding: 15px 30px 15px 15px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
img{
    height: 400px;  
     margin-top: 100px;
     margin-left: 50px;
}

.moving-class{
    text-decoration: none;
    color: #000;
    padding-bottom: 10px;
    position: relative;
}
.moving-class::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.moving-class:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.achivement{
    background-color: #007bff;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center; 
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    height: 150px;
    gap: 90px;

}
.our-achivement{
    text-align: center;
    font-size: large;
    

}
.laundy-section{
 margin-left: 100px;
   text-align:center;
   
   
}
.laundy-section>h4{
text-align: start;
margin-bottom: 0;
}

.customers{
    margin-left: 100px;
    padding-bottom: 1px ;
      text-align:start;
}
.experience{
      text-align:start;
    margin-left: 100px;

}
.customers>h4,.experience>h4{
    margin-bottom: 0;
}
.customers>p,.experience>p,.laundy-section>p{
    margin-top: 0;
}
#service-page{
    display: grid;
    grid-template-columns:  1fr 1fr;
    background-color: lightgrey;
    margin-top: 50px;
     padding: 50px;
}


.service-page-div-1{
    background-color: white;
    margin: 10px;
}
#first-service-div-2{
padding: 10px;

}
#first-service-div-2>input{
border-radius: none;

}


.btns>p{
    display: inline-block;

}
.btns>button{
 float: right;
 margin-top: 10px;
 padding: 10px;
 border-radius: none;
}
.second-service{
    display: grid;
    grid-template-rows: 1fr 1fr;  
}

.second-service-div1{
    background-color: white;
}
.second-service-div1>h2{
    text-align: center;
}
.cart-item{
    display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: -30px;

}
#price{
    margin-left: 10px;
}
.total{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -30px;
}
.total>p{

    margin-left: 30px;
}
.total>h4{
    margin-left: 200px;
}
.cart-slidebar{
    display: grid;
     text-align: center;
     background-color: white; 
      grid-template-columns: 1fr 1fr 1fr;
}
hr{
    margin-top: -10px;
}
.second-service-div2{
    background-color:white;
    margin: 10px; 
}
.second-service-div2>input{
  width: 580px;
    padding: 5px;
    margin-right: 10px;
}
.form-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.form-row>div>p{
margin-top: 5px;
margin-bottom: 5px;
}
.form-row>div>input{
margin-top: 0;
padding: 5px;
}
#book-now-btn{
    background-color: #007bff;
    border-radius: none;
    margin: 10px;
    
    padding: 10px;
    border-radius: 10px;
    width: 190%;
}
.quality-service>section>img{
    height: 100px;

    margin-left: 80px;

}
.quality-service>section>h4{
    margin-bottom: -20;
    text-align: center;
    
}
.quality-service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:60px;
}
.quality-service>section>p{
    text-align: center;
    margin-top: -10;
    padding: 0px 32px 32px 32px;
}
.newsletter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #007bff;
    height: 160px;

}
.newsletter-txt{
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    right: 20px;
}
.newsletter-input{
    padding: 20px;
    margin-right: 70px;
}
.newsletter-input>input{
padding: 10px;
background-color: skyblue;
margin-top: 20px;
}
.newsletter-input>button{
  width: 180px;
  margin-top: 10px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.footer-followus>img{
    height: 50px;
    width: 50px;
}
.footer>section>img{
    height: 30px;
    width: 30px;
    margin-top: 0;
    margin-left: 0;
}
.footer-contact>p{
margin: 0;
}
.footer-link>p{
    margin: 0;
}
.serial-no{
    margin-left: 40px;
}
.service-name{
    margin-left: 60px;
}
.price{
    margin-left: 80px;
}
.exclamation-mark{
margin-left: 20px;
}
